:root {
  font-family: "Archivo", sans-serif;
  font-weight: 400;

  color: #280f37;
  background-color: #F3F3F3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
