.principal {
  flex: 1;
  padding: 32px;
}

.principal h2,
.principal h3,
.principal p {
  margin-bottom: 1.5rem;
}

.principal input {
  border: 1px solid #280F37;
  background: none;
  padding: 6px 2px;
}

.principal button {
  border: none;
  background-color: #280F37;
  color: #FFFFFF;
  padding: 6px;
  cursor: pointer;
}

.principal button:disabled {
  background-color: #a1a1a1;
  cursor: not-allowed;
}
